form {
  width: 400px;
  height: 300px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  width: 170px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #727272;
  padding: 0 10px;
}

button {
  background: #007aff;
  width: 100px;
  height: 30px;
  border: 0;
  border-radius: 8px;
  color: #fff;
  margin-top: 10px;
}
